<div class="container" my-5>
    <h1 class="mb-3">Transfers</h1>
    <button type="button" class="btn btn-primary" routerLink="add">Add transfer</button>
    <table class="table table-dark table-striped" *ngIf="transfers && transfers.length > 0">
        <thead>
            <tr>
                <th>Name</th>
                <th>Amount</th>
                <th>Category</th>
                <th>Date</th>
                <th>AccountId</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
                <tr *ngFor="let transfer of transfers" [ngSwitch]="transfer.categoryId">
                  <td>{{transfer.name}}</td>
                  <td>{{transfer.amount}}</td>
                  <td *ngSwitchCase="'1'">{{'Food & Drinks'}}</td>
                  <td *ngSwitchCase="'2'">{{'Shopping'}}</td>
                  <td *ngSwitchCase="'3'">{{'housing'}}</td>
                  <td *ngSwitchCase="'4'">{{'Transportation'}}</td>
                  <td *ngSwitchCase="'5'">{{'Vehicle'}}</td>
                  <td *ngSwitchCase="'6'">{{'Life & Entertainment'}}</td>
                  <td *ngSwitchCase="'7'">{{'Communicationn, PC'}}</td>
                  <td *ngSwitchCase="'8'">{{'Financial expenses'}}</td>
                  <td *ngSwitchCase="'9'">{{'Investments'}}</td>
                  <td *ngSwitchCase="'10'">{{'Income'}}</td>
                  <td *ngSwitchCase="'11'">{{'Others'}}</td>
                  <td>{{transfer.date}}</td>
                  <td>{{transfer.accountId}}</td>
                  <td>
                    <button type="button" class="btn btn-warning" [routerLink]="['/transfers', 'edit', transfer.id]">Edit</button>
                </tr>           
        </tbody>
    </table>
    <p *ngIf="!transfers || transfers.length <= 0">No transfers found.</p>
</div>
