<div class="container" my-5>
    <h1 class="mb-3">List of accounts</h1>
    <button type="button" class="btn btn-primary" routerLink="add">Add account</button>
    <br>
    <table class="table table-dark table-striped" *ngIf="accounts && accounts.length > 0">
        <thead>
            <tr>
                <th>Name</th>
                <th>Balance</th>
                <th>Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
                <tr *ngFor="let account of accounts" [ngSwitch]="account.typeId">
                  <td>{{account.name}}</td>
                  <td>{{account.amount + ' zł'}}</td>
                  <td *ngSwitchCase="'0'">{{'Null'}}</td>
                  <td *ngSwitchCase="'1'">{{'General'}}</td>
                  <td *ngSwitchCase="'2'">{{'Cash'}}</td>
                  <td *ngSwitchCase="'3'">{{'Current account'}}</td>
                  <td *ngSwitchCase="'4'">{{'Credit card'}}</td>
                  <td *ngSwitchCase="'5'">{{'Saving account'}}</td>
                  <td *ngSwitchCase="'6'">{{'Bonus'}}</td>
                  <td *ngSwitchCase="'7'">{{'Insurance'}}</td>
                  <td *ngSwitchCase="'8'">{{'Investment'}}</td>
                  <td *ngSwitchCase="'9'">{{'Loan'}}</td>
                  <td *ngSwitchCase="'10'">{{'Mortage'}}</td>
                  <td *ngSwitchCase="'11'">{{'Account with overdraft'}}</td>
                  <td>
                    <button type="button" class="btn btn-warning" [routerLink]="['/accounts', 'edit', account.id]">Edit</button>
                </td>
                </tr>           
        </tbody>
    </table>
    <p *ngIf="!accounts || accounts.length <= 0">No accounts found.</p>
</div>
